---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import RowCard from "@components/RowCard.astro";
import Pagination from "@components/Pagination.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";

const allPosts = await getCollection("posts");
allPosts.sort(
  (a, b) => {
    // Make "about us" post appear last
    if (a.slug === "about-us") return 1;
    if (b.slug === "about-us") return -1;
    // Sort others by date (newest first)
    return new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf();
  }
);

const postsPerPage = 15;
const firstPagePosts = allPosts.slice(0, postsPerPage);
const totalPages = Math.ceil(allPosts.length / postsPerPage);

const basePath = "/page/";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="space-y-6">
    {firstPagePosts.map((post) => <RowCard post={post} />)}
  </div>

  <Pagination
    currentPage={1}
    lastPage={totalPages}
    urlPrev={null}
    urlNext={totalPages > 1 ? `/page/2` : null}
    basePath={basePath}
    maxDisplayedPages={5}
  />
</BaseLayout>